<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
  </head>
  <body>
    <form method="POST" action="/login">
      <label for="email">Enter your email:</label>
      <input id="email" type="text" name="email" style="width: 300px"><br>
      <label for="password">Enter your password:</label>
      <input id="password" type="text" name="password" style="width: 300px"><br>
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
