<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
    <% include partials/_html-header %>
  </head>
  <body>
  <h2>Login Page</h2>
    <form method="POST" action="/login">
      <label for="email">Enter your email:</label>
      <input id="email" type="text" name="email" style="width: 300px"><br>
      <label for="password">Enter your password:</label>
      <input id="password" type="text" name="password" style="width: 300px"><br>
      <input type="submit" value="Sign in">
    </form>
    <a href="/register"><button>Not registered?</button></a>
  </body>
</html>
