<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
    <% include partial/_html-header %>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %><br>
    <form action="/urls" method="POST" style="margin-top:20px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="url" name="longURL" value="http://" style="width: 300px" required pattern="https?://.+">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
